@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body {
    background-color: rgb(234, 248, 211);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    justify-content: space-evenly;
}

.logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li {
    padding: 0 12px;
}

nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(153, 147, 147);
    justify-content: space-around;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: rgb(110, 26, 52);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(https://ae01.alicdn.com/kf/HTB1TpRAmMnH8KJjSspcq6z3QFXaj/DIY-frame-anime-manga-white-bright-headphones-sci-fi-science-fiction-mech-cyborg-gothic-cloth-silk.jpg_Q90.jpg_.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: inset 2px 8px;
    box-shadow: 2px 8px;
}